
/* #sidebar{
    margin: 10px 30px;
    border-radius: 5%;
    border: 10px solid white;

} */
/* #accordionSidebar{
    margin: 10px 30px;
    border-radius: 5%;
    border: 10px solid white;
} */
body {
    background-image: url(/Assets/image/Rectangle_2.png);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
  }
#content{
    margin: 10px 10px;
    border-radius: 5%;
    border: 10px solid black ;
}

#navbar{
    margin-bottom: 100px;
}
#content button{
    margin: 30px;
    height: 188px;
    width: 255px;
}

/* .btn1{
    display: flex;
    flex-direction: column;
} */